@keyframes fadeIn {
  from { opacity: 0 } to { opacity: 1 }
}

@keyframes fadeOut {
  from { opacity: 1 } to { opacity: 0 }
}


.note-content{
  position: absolute;
  top: 30%;
  float: left;
  word-wrap: break-word;
}

.note{
  position: relative;
  padding: 10px 10px 38px 34px;
  height: auto;
  margin: auto;
  margin-bottom: 8px;
  width: 55%;
  font-family: 'Mukta Mahee';
  font-size: 1.4em;
  color: #222;
  background-color: rgba(237,237,220,0.7);
  border-radius: 3px;
  opacity: 1;
}



.fade-in{
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}



.close-btn{
  color: #555;
  font-weight: bold;
  padding-right: 10px;
  float: right;
  cursor: pointer;
  font-size: 1.5em;
}

.close-btn:hover{
  color: red;
}
