html{
  height: 100%;
}

body{
  width: 100%;
  min-height: 100%;
  background: linear-gradient(-10deg, rgba(0, 0, 0, 0.2),rgba(0, 10, 100, 0.7)), url('./images/bg.png');
  background-attachment: fixed;
  background-size: cover;
}

*{
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.container{
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%
}

.head-container{
  display: flex;
  flex: 1 1 12%;
  min-height: 2.5em;
  max-height: 2em;
  font-size: 3.2em;
  color: #C03355;
  font-family: 'Baloo Bhaijaan';
  text-align: center;
  align-content: center;
  padding: 20px 0px 20px 0px;
  margin-bottom: 6px;
  background-color: rgba(0,0,0,0.3);
  display: block;
}

.notes-body-container{
  padding-top: 24px;
  display: flex;
  flex: 1 1 80%;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
}

.input-container{
  display: flex;
  flex: 1 1 8%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.footer-text{
  display: block;
  flex: 1 1 8%;
  font-family: 'Mukta Mahee';
  font-size: 1.1em;
  background-color: rgba(0, 0, 0, 0.5);
  color: #D7B3FF;
  padding-top: 16px;
  text-align: center;
  align-content: center;
}

.heart{
  color: red;

}
