.input-form{
  margin: auto;
}

.inputButton{
  border: none;
  margin: 0px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 8px 24px;
  font-size: 1.3em;
  font-family: 'Mukta Mahee';
  background-color: #A32D4F;
  color:#fff;
  transition: 0.5s ease-out;
}

.inputButton:hover{
  background-color: #DE3D5C;
  color:#fff;
  transition: 0.5s ease-out;
}

.noteInput{
  width: 800px;
  min-width: 800px;
  font-size: 1.3em;
  padding-left: 20px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  font-family: 'Mukta Mahee';
  background-color: rgba(35,50,64,0.9);
  color: #fff;
  transition: 0.5s ease-out;
}

.noteInput:focus{
  background-color: rgba(237,237,220,0.7);;
  color: #111;
  transition: 0.5s ease-in;
}
